__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.lic
*.key
*.pem
*.crt
*.json
*.txt
licencas/
historico_licencas.json
.env
.DS_Store
.vscode/
.idea/
*.zip
*.tar.gz
*.egg-info/
build/
dist/
*.spec
