<!DOCTYPE html>
<html>
<head>
    <title>Gerar Licença</title>
</head>
<body>
    <h2>Gerar Licença</h2>
    <form method="post">
        Tipo: <input name="tipo" value="PLUS"><br>
        Início: <input name="inicio" type="date"><br>
        Fim: <input name="fim" type="date"><br>
        Igrejas Máx: <input name="igrejas_max" type="number"><br>
        Membros Máx: <input name="membros_max" type="number"><br>
        ID da Máquina: <input name="id_maquina"><br>
        Módulos: <br>
        <label><input type="checkbox" name="modulos_liberados" value="cadastro">Cadastro</label><br>
        <label><input type="checkbox" name="modulos_liberados" value="relatorios">Relatórios</label><br>
        <button type="submit">Gerar</button>
    </form>
</body>
</html>
